<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Página administrativa</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 menu-content">
            <div class="row">
                <div class="col-sm">
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-10">
            <form #fPost="ngForm" [formGroup]="postForm" (submit)="ngSubmit(fPost)">
                <div class="row">
                    <div class="col-sm">
                        <textarea formControlName="text" class="form-control" name="" id="" cols="30"
                            rows="10"></textarea>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm list-content">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let post of posts | async" class="list-group-item">{{post.text}}</li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div>