.container h4 {
    margin-left: 200px;
    margin-bottom: 20px;
    text-decoration: underline;
 }

 .container input {
    border: 2px solid black;
 }

.btn-primary {
    margin-top: 20px;
}

.list-group {
    margin-top: 40px;
    width: 690px;
    height: 1vh;
}

.spinner-control {
    position: absolute;
    z-index: 10;
}