<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Página inicial</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <form #fPost="ngForm" [formGroup]="postForm" (submit)="ngSubmit(fPost)">
                <div class="row">
                    <div class="col-sm">
                        <label for="description">Text</label>
                        <textarea formControlName="description" class="form-control" name="description" id="description"
                            cols="30" rows="10"></textarea>
                        <app-error-message [haveErrors]="postForm.get('description')?.errors && submitted"
                            [isRequired]="postForm.get('description')?.errors?.required" [type]="'text'">
                        </app-error-message>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm">
                    <app-post-list class="list-group" [posts]="posts"></app-post-list>
                </div>
            </div>
        </div>
    </div>
</div>